body {
  /* background: linear-gradient(90deg, rgba(214,238,242,1) 0%, rgba(179,214,236,1) 100%); */
background: rgb(214,238,242);
background: linear-gradient(90deg, rgba(214,238,242,1) 100%, rgba(214,238,242,1) 100%);
}


.table td,.table th {
 background: rgb(214,238,242);
background: linear-gradient(90deg, rgba(214,238,242,1) 100%, rgba(214,238,242,1) 100%);
}



.wel_text {
  font-size: 40px;
  margin-top: -50px;
  line-height: 50px;
}

