
{% extends 'base.html' %}

{% block content %}
  <div class="login-container">
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTeBtwpi10Pn36gszpF7kbu_Z_nubUe9pZuwA&usqp=CAU" alt="Logo" class="logo-image">
    <h1>Login</h1>

    {% if error %}
      <p class="error-message">{{ error }}</p>
    {% endif %}

    <form action="" method="POST" class="login-form">
      {% csrf_token %}
      {{ form.as_p }}
      <button type="submit" class="login-button">Ingresar</button>
      
      <a class="registro-link" href="/signup">no tienes cuenta registrate</a>

    </form>
    
  </div>
  <style>
    body {
  font-family: 'Arial', sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
}

.login-container {
  max-width: 400px;
  margin: 50px auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
  text-align: center;
  color: #333;
}

.error-message {
  color: #ff0000;
  margin-bottom: 10px;
}

.login-form {
  display: flex;
  flex-direction: column;
}

label {
  margin-bottom: 8px;
}

input {
  padding: 8px;
  margin-bottom: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  padding: 10px;
  background-color: #4caf50;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background-color: #45a049;
}
.logo-image {
  width: 90px; /* Ajusta el tamaño de la imagen según sea necesario */
  margin-right: 10px; /* Espacio entre la imagen y el texto */
}
.boton {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    background-color: #4CAF50; /* Color de fondo del botón */
    color: white; /* Color del texto del botón */
    border: 1px solid #4CAF50; /* Borde del botón */
    border-radius: 5px; /* Bordes redondeados */
    transition: background-color 0.3s;
    margin-top: 10px; /* Espacio entre el botón y el elemento superior */
  }

  /* Cambia el color de fondo cuando pasas el ratón sobre el botón */
  .boton:hover {
    background-color: #24c2ea;
  }
  h2 {
  text-align: left;
  color: #333;
  font-size: 1px;
}
.registro-link {
  font-size: 18px;
  margin-right: auto;
  text-decoration: underline;
  color: inherit; /* Mantener el color del texto original del contenedor */
  cursor: pointer; /* Cambiar el cursor al pasar sobre el enlace */
  display: inline-block; /* Asegurar que el enlace no se extienda horizontalmente */
  margin-top: 10px; /* Espaciado entre el enlace y otros elementos */
}

</style>
{% endblock %}
